
main {
    max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
}

.collection {
  padding: 2rem;
}

.hero {
  text-align: center;
  padding: 20px;
  padding-bottom: 50px;
  margin: 0px auto 40px auto;
  background: linear-gradient(to right, #111, #444);
  color: white
}
.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.page-intro {
font-size: 16px;
color: #ccc;
max-width: 600px;
margin: 0 auto;
margin-top: 20px;
}

/* .product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  width: calc(33.33% - 1rem);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.price {
  font-weight: bold;
  color: #000;
}

.old-price {
  text-decoration: line-through;
  color: #888;
  margin-left: 0.5rem;
}

.discount {
  color: green;
  font-weight: bold;
} */