.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;

}

.container-header {
    font-size: 32px;
    text-align: center;
}

.hero {
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;
    margin: 0px auto 80px auto;
    background: linear-gradient(to right, #111, #444);
    color: white
}
.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
.page-intro {
font-size: 16px;
color: #ccc;
max-width: 600px;
margin: 0 auto;
margin-top: 10px;
}




